{% extends 'base.html' %}

{% block title %}Habilidades - {{ super() }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h2 class="text-center mb-4"></h2>
                <h2 class="text-center mb-4">Mis habilidades profesionales:</h2>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Programación</h5>
                        <p class="card-text">Soy bueno en programación, especialmente en lenguajes como Python, Java y JavaScript.</p>
                    </div>
                </div>
                <div class="card mt-4">
                    <div class="card-body">
                        <h5 class="card-title">Depuración y pruebas:</h5>
                        <p class="card-text">Una vez que se ha escrito el código, es importante depurarlo para identificar y corregir posibles errores. Además, se deben realizar pruebas exhaustivas para asegurarse de que el código funcione correctamente en una variedad de situaciones.</p>
                    </div>
                </div>
                <div class="card mt-4">
                    <div class="card-body">
                        <h5 class="card-title">Edición de videos</h5>
                        <p class="card-text">Tengo experiencia en edición de videos usando herramientas como Adobe Premiere Pro y Final Cut Pro.</p>
                    </div>
                </div>
                <div class="card mt-4">
                    <div class="card-body">
                        <h5 class="card-title">Organización</h5>
                        <p class="card-text">Tengo habilidades de organización que me permiten manejar múltiples tareas y proyectos de manera efectiva.</p>
                    </div>
                </div>
                <div class="card mt-4">
                    <div class="card-body">
                        <h5 class="card-title">Facilidad para el trabajo en equipo</h5>
                        <p class="card-text">Trabajo bien en equipo y puedo colaborar eficazmente con otros para alcanzar objetivos comunes.</p>
                    </div>
                </div>
                <div class="card mt-4">
                    <div class="card-body">
                        <h5 class="card-title">Capacidad de concentración</h5>
                        <p class="card-text">Tengo la capacidad de concentrarme en tareas complejas durante períodos prolongados de tiempo.</p>
                    </div>
                </div>
                <div class="card mt-4">
                    <div class="card-body">
                        <h5 class="card-title">Capacidad para resolver problemas</h5>
                        <p class="card-text">Soy hábil para identificar problemas y encontrar soluciones efectivas de manera creativa.</p>
                    </div>
                </div>
                <div class="card mt-4">
                    <div class="card-body">
                        <h5 class="card-title">Pensamiento creativo</h5>
                        <p class="card-text">Tengo un pensamiento creativo que me permite encontrar nuevas perspectivas y enfoques innovadores en cualquier situación.</p>
                    </div>
                </div>
                <div class="card mt-4">
                    <div class="card-body">
                        <h5 class="card-title">Comunicación asertiva</h5>
                        <p class="card-text">Poseo habilidades de comunicación asertiva que me permiten expresar mis ideas de manera clara y efectiva en diferentes contextos.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
